.dots {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--dot-gap, 10px);
	width: auto;
	height: auto;

	&.full-screen {
		width: 100vw;
		height: 100vh;
	}

	.dot {
		width: var(--dot-size, 12px);
		height: var(--dot-size, 12px);
		border-radius: 50%;
		background-color: currentColor;
		animation: bounce var(--dot-duration, 0.7s) ease-in-out infinite;
	}

	@keyframes bounce {

		0%,
		80%,
		100% {
			transform: translateY(0);
		}

		40% {
			transform: translateY(-12px);
		}
	}
}
