* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
	color: #fefefe;
	background-color: #1a1a1a;
}
